language: python

sudo: true

python:
  - "2.7"


install:
  - pip install robotframework
  - pip install robotframework-selenium2library
  - pip install decorator
  - pip install docutils
  #- gem install s3
  #- "if [[ ${BROWSER} == 'ie' ]]; then pip install ie_only_pkg; fi"

before_script:
  - "chmod 777 ~/.ssh/known_hosts"
  - "echo $KNOWN_HOSTS >> ~/.ssh/id_rsa.pub"
  - "cat ~/.ssh/id_rsa.pub >> ~/.ssh/authorized_keys"
  - "echo $SSH_KEY > /home/travis/.ssh/key"
  - "export DISPLAY=:99.0"
  - "sh -e /etc/init.d/xvfb start"
  #- "find / -type f -perm /6000 -exec stat -c "%A %a %n" {} \"

script:
  #- "firefox --version"
  #- "python test/run_tests.py python $BROWSER --noncritical known_issue_-_travisci"
  #- "python demo/rundemo.py python $BROWSER --noncritical known_issue_-_travisci"
  #- pybot -v BROWSER:$BROWSER -v "VALID USER":$TL_USER -v "VALID PASSWD":$TL_PASSWD tests/web/login/
  #- pybot -v BROWSER:$BROWSER -v "VALID USER":$TL_USER -v "VALID PASSWD":$TL_PASSWD tests/web
  - pybot -v BROWSER:$BROWSER -v "VALID USER":$TL_USER -v "VALID PASSWD":$TL_PASSWD -i control2 tests/web
  #- pybot -v BROWSER:$BROWSER -v "VALID USER":$TL_USER -v "VALID PASSWD":$TL_PASSWD tests/web/customFieldMAnagement
  #- pybot -v BROWSER:$BROWSER -v "VALID USER":$TL_USER -v "VALID PASSWD":$TL_PASSWD tests/web/testProjectManagement/createTestProject/deleteProject
  #- pybot -v BROWSER:$BROWSER -v "VALID USER":$TL_USER -v "VALID PASSWD":$TL_PASSWD tests/web/TestPlanManagement/testPlanContent/tp78_update_linked_tc_version.robot
  #- find / -type f -perm /6000 -exec stat -c "%A %a %n" {} \;
  #- pybot -v BROWSER:$BROWSER -v "VALID USER":$TL_USER -v "VALID PASSWD":$TL_PASSWD tests/web/testProjectManagement/createTestProject/modifyProject/tp12_Rename_Test_Project_NO_NAME_CONFLICT.robot

  #- pybot -v BROWSER:$BROWSER -v "VALID USER":$TL_USER -v "VALID PASSWD":$TL_PASSWD tests/web/Layout/tp109_Navigator_tree.robot
  #- pybot -v BROWSER:$BROWSER -v "VALID USER":$TL_USER -v "VALID PASSWD":$TL_PASSWD tests/web/czechTestDemo/czechtest_demo.robot


env:
  matrix:
  - BROWSER=firefox
  #- BROWSER=ie # will be added later
  #- BROWSER=safari # will be added later

after_script:
   - zip -r build.zip /home/travis/build/marcel-veselka/testlink-qa-robot/*

   - sed -e 's/\s\+/\n/g' ~/.ssh/key > ~/.ssh/key1
   - echo -----BEGIN RSA PRIVATE KEY----- > /home/travis/.ssh/id_rsa
   - cat ~/.ssh/key1 >> ~/.ssh/id_rsa
   - echo -----END RSA PRIVATE KEY----- >> /home/travis/.ssh/id_rsa
   #- cat ~/.ssh/key
   #- ssh -v -o StrictHostKeyChecking=no ubuntu@testlab.tesena.com
   #- cat ~/.ssh/id_rsa
   #- SSH_AUTH_SOCK=0 ssh -v -o "StrictHostKeyChecking no" -i /home/travis/.ssh/id_rsa ubuntu@testlab.tesena.com
   #- ssh -i /home/travis/.ssh/key -o CheckHostIP=no ubuntu@testlab.tesena.com
   #- SSH_AUTH_SOCK=0 ssh -v -i /home/travis/.ssh/key ubuntu@testlab.tesena.com
   #- SSH_AUTH_SOCK=0 ssh -v -i /home/travis/.ssh/id_rsa ubuntu@testlab.tesena.com
   - chmod 400 /home/travis/.ssh/id_rsa
   - chmod 600 /home/travis/.ssh/id_rsa

   - echo -e "Host testlab.tesena.com\n\tStrictHostKeyChecking no\n" >> ~/.ssh/config
   - echo " StrictHostKeyChecking no" >> ~/.ssh/config

   - scp -v -i /home/travis/.ssh/id_rsa /home/travis/build/marcel-veselka/testlink-qa-robot/build.zip ubuntu@testlab.tesena.com:/home/ubuntu/reports
# todo: upload instead of individual files info s3 bucket

addons:
  artifacts:
    bucket: "tesena-s3"
    endpoint: "tesena-s3.s3-website-us-west-2.amazonaws.com"
    s3_region: "us-west-2" # defaults to "us-east-1"

#notifications:
  #email:
   # - alexandra.kolpakova@tesena.com